/* Headers */

.hdr_container{
    display: flex;
}

.hdr{
    font-size: 2.3rem;
    font-weight: 400;
    margin: 1rem 0.5rem;
}
@media screen and (min-width:480px){
    .hdr{
        font-size: 2.5rem;
    }
}
@media screen and (min-width:769px){
    .hdr{
        font-size: 3rem;
        margin: 1rem 0.5rem 2rem;
    }
}
@media screen and (min-width:1024px){
    .hdr{
        font-size: 2rem;
    }
}

/* Inputs */

.input_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 1rem;
}
.label_hdr{
    font-size: 2.2rem;
    margin: 1rem 0 2rem;
}
.label{
    font-size: 2rem;
    margin: 1rem 0;
}
.input_wrapper{
    width: 60%;
}
.input{
    font-size: 2rem;
    width: 50%;
    border-radius: 5px;
    border: 0.5px solid;
    background-color: rgb(231, 249, 255);
    cursor: pointer;
}
@media screen and (min-width:480px){
    .label{
        font-size: 2.2rem;
    }
    .input{
        font-size: 2.2rem;
        padding: 0.3rem;
    }
}
@media screen and (min-width:769px){
    .label{
        font-size: 2.5rem;
    }
    .input{
        font-size: 2.4rem;
        padding: 0.7rem;
        margin: 1rem 0 0;
    }
}
@media screen and (min-width:1024px){
    .label{
        font-size: 2rem;
        margin: 0 0 0.7rem;
    }
    .input{
        font-size: 2rem;
        padding: 0.2rem;
        margin: 0;
    }
}

/* Button */

.btn_container{
    margin: 2rem 0;
}

@media screen and (min-width:1024px){
.btn_container{
    margin: 1rem 0 2rem;
}
}

/* Hover */

.close:hover, .btn:hover, .input:hover{
    transform: scale(1.02);
    opacity: 1;
 }