.container{
    width: 100%;
   padding: 150px 0.6rem 0.5rem
}
.products{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.hdr{
font-size: 3rem;
padding: 1rem;
}
.checkout{
    display: flex;
    justify-content: center;
}
