.container{
    padding: 0 1rem;
    width: 100vw;
   }
   .item{
   width: 100%;
   padding: 0rem 1rem 2rem;
   }
   .btn_container{
    display: flex;
    justify-content: space-between;
    width: 40%;
   }
   .title_container{
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-bottom: 0.5px solid #101010;
    
   }
   .btn_clear{
       margin: 1rem 0;
       font-size: 0.8rem;
       padding: 0.5rem 0.5rem;
       background-color: #fff;
       border: 0.3px solid;
       border-radius: 5px;
       text-transform: uppercase;
       color: #fe9292;
   }
   .btn_available{
    margin: 1rem 1rem;
    font-size: 0.8rem;
    padding: 0.7rem 0.5rem;
    background-color: #fff;
    border: 0.3px solid;
    border-radius: 5px;
    text-transform: uppercase;
   }
   .table{
      width: 100%;
       border-spacing: 15px;
       text-align: center;
   }
   .tr_title{
    font-size: 1rem;
    font-weight: 700;
}

   .header{
       cursor: pointer;
       margin: 1rem;
       padding: 1rem 1rem 1rem;
       font-weight: 500;
       letter-spacing: 0.1rem;
       font-size: 2.5rem;
       text-transform: uppercase;
       color: #3e3e3e;
   }
   .header:hover{
       transform: scale(1.03);
   }