.container{
    width: 100%;
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4a5168;
    padding: 5rem;
    border-radius: 10px;
    margin: 23rem 0 0;   
    box-shadow: 0 0 20px rgb(162, 231, 252);
    width: 88%;
}

.input{
    border-radius: 5px;
    border: 0.1px solid #4a5168;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-color: rgb(203, 243, 255);
    width: 100%;
    margin: 1rem 0 0;
}
.label{
    margin: 2rem 0 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.7rem;
}
.hdr{
    margin: 0 0 1rem;
    padding: 1rem 1.5rem; 
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    border: 1px solid #4a5168;
    border-radius: 10px;
    line-height: 4rem;
    opacity: 0.8;
    color: #4a5168;
}
.submit{
    width: 70%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid #707092;
    background-color: #fff;
    color: #707092;
    padding: 1.2rem;
    margin: 3rem 0 0;
    cursor: pointer;
    transition: all 0.1s;
}
.submit:hover{
    color: #fff;
    background-color: #101010;
    border: 1px solid #fff;
}