.container{
    width: 100%;
}
.tr_title{
    font-size: 1rem;
    font-weight: 700;
}

.products_hdr{
    text-align: center;
    margin: 1.5rem 0 3rem;
    font-size: 3rem;
    font-weight: 300;
}
.btn_delete{
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid;
    padding: 0.35rem 0.65rem;
    background-color: #fff;
    color: rgb(245, 99, 99);
    cursor: pointer;
    }
    .btn_delete:hover{
        transform: scale(1.1);
    }
    
.item{
    width: 100%;
    padding: 0 0 2rem;
    }
.title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #101010;
    width: 100%;

}
.btn_clear{
    margin: 1rem 3rem 1rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.1rem;
    background-color: #fff;
    border: 0.3px solid;
    border-radius: 5px;
    text-transform: uppercase;
    color: rgb(255, 86, 86);
}
.table{
    width: 100%;
    border-spacing: 15px;
    text-align: center;
    }
.tr_title{
    font-size: 1rem;
    font-weight: 700;
}

.header{
    cursor: pointer;
    margin: 1rem;
    padding: 1rem 0 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    }
    .header:hover{
    transform: scale(1.03);
}
