/* Containers */

.section{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0.5rem;
    height: 100%;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}
.sections_container{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.items_container{
    display: none;
    background-color: rgb(250, 253, 255);
    box-shadow: none;
}

@media screen and (min-width:480px){
    .menu_container{
        padding: 3rem 2rem 1rem;
        width: 100%;
    }
}
@media screen and (min-width:769px){
    .menu_container{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        padding: 1rem 2rem 5rem;
        align-items: flex-start;
    }
    .sections_container{
        flex: 1;
    }
    .items_container{
        flex: 2;
        margin: 0 0 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        border: 1px solid #656565;
        border-radius: 7px;
        box-shadow: 0 0 2px #656565;
        padding: 0.3rem 0;
    }
    .items_wrapper{
        overflow-y: scroll;
        width: 470px;

    }
}
@media screen and (min-width:1024px){
    .items_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 95%;
    }
    .items_container{
        flex: 3;
    }
}
@media screen and (min-width:1200px){
    .menu_container{
        padding: 2rem 4rem 5rem;
    }
    .items_wrapper{
        grid-template-columns: repeat(3, 1fr);
        width: 98%;
    }
}

/* Header */

.hdr{
    color: #101010;
    font-size: 3.5rem;
    text-align: center;
    margin: 1.2rem 0 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.text{
    font-size: 2.2rem;
    margin: 0.5rem 0 1rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 500;
    padding: 0 0 0.5rem;
    text-transform: capitalize;
}
.menu_hdr{
    font-size: 2rem;
    padding: 0.5rem 0;
    color: var(--text--light-green);
    opacity: 0.8;
}

/* Buttons */
.checkout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 4rem 2rem;
}
.btn{
    font-size: 2.3rem;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    background: #fff;
    color: #101010;
    font-weight: 500;
    letter-spacing: 0.2rem;
    border: 0;
    box-shadow: 0 0 3px;
    cursor: pointer;
    opacity: 0.9;
}
.offline{
    font-size: 1.8rem;
    letter-spacing: 0.07rem;
    color: var(--text--dark-red);

}


@media screen and (min-width:480px){
    .checkout{
        margin: 1rem 2rem 1.2rem;
    }
    .text{
        font-size: 2.8rem;
        margin: 1rem 0 2rem;
    }
    .hdr{
        margin: 2rem 0 1.5rem;
    }
    .offline{
        font-size: 2.1rem;
    }
}
@media screen and (min-width:769px){
    .hdr{
        font-size: 4.5rem;
        padding: 0.5rem  0 1rem;
    }
    .btn{
        font-size: 2.5rem;
        padding: 0.5rem 0.7rem;
    }
    .text{
        font-size:2.5rem;
        margin: 3rem 3rem 2rem;
        font-weight: 500;
    }
    
    .checkout{
        padding: 0;
        margin-top: 0;
        width: 80%;

    }
    .offline{
        font-size: 1.8rem;
        padding: 1rem 0 0;
    }
}
@media screen and (min-width:1024px){
    .btn{
        padding: 0.5rem 0.6rem;
    }
    .menu_open{
        margin: 2rem 0;
    }
    .hdr{
        font-size: 5rem;
    }
}


/* Hover   */

.btn:hover{
    transform: scale(1.01);
    opacity: 1;
}