/* Containers */

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.5s;
    z-index: 999;
}
.container{
    padding: 0.5rem 1rem;
    height: 100%;
    background-color: #0f0f0f ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Text Links */
.pagelinks{
    display: flex;
    cursor: pointer;
    transition: all ease-out 0.3s;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.pagelink{
    color: #fff;
    margin: 0 3rem 0 1rem;
    font-size: 3rem;
}
.text{
    color: #fff;
    margin: 0 0 5px;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.contact{
    display: flex;
    transition: all 0.3s;
    margin-right: 2rem;
}
/* Icon Links */

.logo{
    color: #fff;
    cursor: pointer;
   display: flex;
    width: 100px;
    height: unset;
       aspect-ratio: 2.1/1;
    position: absolute;
    right: 45%;
    top: 12%;
}
.socials{
 margin: 0 6rem 0 ;
 display: flex;
 align-items: center;
}
.social{
    margin: 0 20px;
    cursor: pointer;
}
.insta, .facebook{
    fill: #fff;
    width: 50px;
    height: 50px;
}


/* Expand Icon */

.chevron{
    fill: #fff;
    width: 43px;
    height: unset;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: none;
}

/* Basket Icon */

.basket{
    text-align: right;
    position: fixed;
    right: 4%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket_icon{
    fill:rgb(185, 184, 184) ;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.quantity{
    font-size: 1.8rem;
    color: rgb(153, 1, 1);
    font-weight: 600;
}


@media screen and (max-width: 1200px){
    .logo{
        right: 50%;
    }
    .pagelink {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 1024px){
    .pagelinks{
        justify-content: flex-start;
        width: 60%;
    }
    .pagelink {
        font-size: 2.1rem;
    }
    .text{
        font-size: 2.1rem;
    }
    .socials{
        margin: 0 1.5rem 0;
       }
    .social{
        margin: 0 0.5rem;
        
    }
    .logo{
    left: 40%;
    }
    .insta{
    width: 35px;
    height: 35px;
}
    .facebook{
    width: 35px;
    height: 35px;
    }
    .basket_icon{
        width: 30px;
        height: 30px;
    }
    .basket{
        top: 15%;
    }
    .quantity{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        padding: 0;
        align-items: flex-end;
        height: 100%;
    }
    .basket_icon{
        width: 25px;
        height: 25px;
    }
    .basket{
        top:20%;
    }

    .logo{
        top: 14%;
        left: 5%;
    }
    .pagelinks{
        flex-direction: column;
        align-items: flex-end;
        margin: 0 6.5rem;
    }
    .pagelink{
        margin: 1rem 0;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .text{
        font-size: 2.2rem;
        text-align: right;
    }
    .texts{
        margin: 2rem 4rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .contact{
        flex-direction: column;
        margin: 0.5rem 2rem;
    }
    .socials{
        flex-direction: column;
        align-items: flex-end;
        
    }
    .chevron{
        display: unset;

    }
    .chevron_container{
        display: block;
        margin: 1rem 3rem 1rem 0;
    }
    .social{
        margin: 1rem 2rem
        
    }
    .insta, .facebook{
    width: 40px;
    }
  

}
@media screen and (max-width: 480px){
    .insta, .facebook{
        width: 30px;
        height: unset;
        aspect-ratio: 1/1;
        }
    .logo{
       width: 70px;
       height: unset;
       aspect-ratio: 2.1/1;
        right: 55%;
        top: 16%;
    }
    .chevron_container{
        margin: 0.8rem 1rem 0.5rem 1rem;
    }
    .chevron{
        width: 35px;
        height: unset;
        aspect-ratio: 1/1;
    }
    .basket{
        right: 3%;
    }
    .basket_icon{
        width: 25px;
        height: 25px;
    }
    .quantity{
        font-size: 1.4rem;
    }
    .pagelink, .text{
        font-size: 1.8rem;
    }
}

/* Hover */

.facebook:hover, .insta:hover, .pagelink:hover{
    transform: scale(1.02);
    text-shadow: 0 0 2px #fff;
}
.basket:hover{
    transform: scale(1.1);
}
