/* Containers */

.container{
    width: 100%;
    height: 100%;
   padding: 8rem 0 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.right, .left{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}
.options_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:480px){
    .container{
        padding: 10rem 1rem 0;
    }
}
@media screen and (min-width:1024px){
    .container{
        padding: 10.5rem 5rem 1rem;
        flex-direction: row;
        align-items: flex-start;
    }
    .right, .left {
        width: 100%;
    }
    .left{
        margin: 2rem 3rem;
        border-radius: 20px;
        padding: 0rem 0;
    }
    .right{
        max-height: 70vh;
        padding: 0 3rem ;
        overflow-y: scroll;
        margin: 2rem 0 0;
    }
    .options_wrapper{
        overflow-y: scroll;
    }
}
@media screen and (min-width:1200px){
    .left{
        width: 800px;
    }
    .container{
        padding: 10.5rem 7rem 3rem 13rem;
    }
}


/*** Left ****/

.img_container{
    width: 80%;
    overflow: hidden;
    margin: 0 0 1rem;
}
.icon{
    width: 100px;
    height: 100px;
}
.title{
    margin: 1rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(231, 249, 255);
    padding: 0 0 1rem;
}
.price{
    font-size: 2.3rem;
    padding: 0  0 1.5rem;
    text-transform: uppercase;
}
.desc{
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.2rem;

}

@media screen and (min-width:380px){
    .img_container{
        width: 260px;
    }
}
@media screen and (min-width:480px){
    .img_container{
        width: 310px;
        margin: 0 0 2rem;
    }
    .title{
        margin: 0;
        font-size: 2.8rem;
        font-weight: 500;
        word-spacing: 0;
    }
    .price{
        font-size: 2.8rem;
        padding: 1.5rem 0 0;
        font-weight: 600;
    }
    .desc{
        padding: 1rem 3rem 0;
    }
}
@media screen and (min-width:769px){
    .title{
        font-size: 3rem;
    }
    .price{
        font-size: 3.3rem;
        padding: 1rem 0 0.2rem;
    }
    .desc{
        font-weight: 500;
    }
    .icon{
        width: 110px;
        height: 120px;
    }
}
@media screen and (min-width:1024px){
    .title{
        font-size: 3.5rem;
    }
    .desc{
        font-style: italic;
        font-size: 1.8rem;
        line-height: 3rem;
        padding: 2rem 4rem 0;
    }
    .img_container{
        width: 300px;
    }
    .price{
        font-size: 2.5rem;
    }
}


/*** Right ***/


/* Choice containers */


.extraToppings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0.5rem 0;
   border-top: 2px solid rgb(231, 249, 255);
}

.topping_container{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
    width: 100%;
}
@media screen and (min-width:380px){
    .topping_container{
        width: 350px;
    }
    .extraToppings{
        width: 350px;
    }
}
@media screen and (min-width:769px){
    .topping_container{
        width: 450px;
    }
}

/* Choice info */
.extaToppingsHeader{
text-align: center;
font-size: 2.5rem;
padding: 0.7rem 0 1rem;
 font-weight: 500;
 text-transform: uppercase;
}
.topping{
    font-size: 1.7rem;
    padding: 0 0 0 1rem;
    font-weight: 500;
    text-align: left;
    flex: 2;
    text-transform: capitalize;
}
@media screen and (min-width:480px){
    .extaToppingsHeader{
        margin: 1rem 0 0;
    }
}
@media screen and (min-width:769px){
    .extaToppingsHeader{
        font-size: 3.5rem;
        font-weight: 400;
    }
    .topping{
        font-size: 2.6rem;
        font-weight: 300;
    }
}
@media screen and (min-width:1024px){
    .extaToppingsHeader{
        padding: 0rem 0 1rem;
        font-size: 2.2rem;
        }
    .topping{
        font-size: 2rem;
    }
}

/* Price/Checkbox */
.price_wrapper{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.price_wrapper input:checked{
    background-color: rgb(26, 214, 45);
    border: 1px solid #fff;
    transform: scale(0.7);
    border-radius: 50px;
}
.toppingCheckbox{
    margin: 0 1rem 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--bg-color--blue);
}
.toppingPrice{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    flex: 1;
    text-transform: capitalize;
    text-align: left;
}
@media screen and (min-width:480px){
    .price_wrapper{
        width: 30px;
    }
}
@media screen and (min-width:769px){
    .toppingCheckbox, .tick{
        cursor: pointer;
        margin: 0 1.5rem 0 0;
        width: 25px;
        height: 25px;
    }
    .toppingPrice{
        font-size: 2.4rem;
        font-weight: 300;
    }
}


/* Quantity */
.quantity_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 3px solid rgb(231, 249, 255);
    margin: 0 0 1rem;
}
.quantity{
    width: 4rem;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(231, 249, 255);
    margin: 1rem;
}
@media screen and (min-width:480px){
    .quantity_container{
        width: 350px;
    }
}
@media screen and (min-width:1024px){
    .quantity{
        margin: 0;
    }
    .quantity_container{
        margin: 0 0 1rem;
    }
}

/* Delievry note */

.note_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top: 3px solid rgb(231, 249, 255);
    padding: 1rem 0;
}
.info_input{
    width: 90%;
    padding: 1rem;
    height: 10rem;
    border-radius: 10px;
    border: 0.5px solid;
    font-size: 2rem;
    background-color: rgb(231, 249, 255);
}
.info_hdr{
    font-size: 2.5rem;
    font-weight: 450;
    padding: 1.5rem 0;
}
.info_text{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(97, 0, 0);
    width: 100;
    text-align: center;
    padding: 0 0 1rem;
}

@media screen and (min-width:480px){
    .note_container{
        width: 350px;
    }
}

@media screen and (min-width:769px){
    .info_hdr{
        font-size: 3rem;
        padding: 2rem 0;
    }
    .info_text{
        font-size: 2rem;
        font-weight: 500;
    }
    .topping_container, .note_container{
        width: 430px;
    }
    .info_input{
        width: 85%;
        height: 10rem;
        font-size: 2.5rem;
        margin: 1rem 0;
    }
}
@media screen and (min-width:1024px){
    .hdr{
        font-size: 3rem;
        font-weight: 300;
        margin: 0 0 5rem;
        padding: 1rem 2rem;
        border-bottom: 2px solid var(--bg-color--blue);
    }
    .info_hdr{
        font-size: 2rem;
        padding: 0.5rem;
    }
    .info_text{
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0.4rem;
    }
    .info_input{
        width:340px;
        height: 8rem;
        font-size: 1.5rem;
        margin: 1rem 0 0.5rem;
        padding: 0.5rem;
    }
    .toppingPrice{
        font-size: 1.8rem;
    }
    .topping_container, .note_container{
        width: 350px;
    }
    .topping_container{
        padding: 0.5rem;
    }
}

/* Order btn/price */

.container_order{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed #101010;
   position: sticky;
    background-color: #fff;
    width: 90vw;
    bottom: 0%;
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    
}
.btn_order{
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    margin: 1rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    color: #101010;
    border: 0;
    box-shadow: 0 0 3px;
    transition: all 0.3s;
    cursor: pointer;
    opacity: 0.8;
}
.finalPrice{
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
    font-weight: 500;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.offline{
    font-size: 4rem;
    text-transform: uppercase;
    margin: 2rem ;
    color: var(--text--dark-red);
    letter-spacing: 0.1rem;
    cursor: pointer;
}
@media screen and (min-width:480px){
    .container_order{
        width: 70vw;
    }
}
@media screen and (min-width:769px){
    .btn_order{
        font-size: 3em;
        margin: 1.5rem 2rem;
    }
    .finalPrice{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}
@media screen and (min-width:1024px){
    .btn_order{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .finalPrice{
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600;
    }
    .container_order{
        position: unset;
        width: 450px;
        margin: 0 0 2rem;
        padding: 0.5rem 0;
    }
}

/* Hover */

.btn_order:hover{
    opacity: 1;
    transform: scale(1.02);
}