.input_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 1rem 2rem;
    border-bottom: 0.5px solid;
}

/* Headers */

.hdr{
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: rgb(84, 1, 1);
}
.hdr_text{
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 1rem 1rem;
    color: rgb(0, 182, 130);
}
@media screen and (min-width:1024px){
    .hdr, .hdr_text{
        font-size: 2rem;
    }
}

/* Info/Label */
.input_container >* {
    text-transform: capitalize;
}

.text{
    font-size: 2.2rem;
    margin: 1rem 2rem;
    font-weight: 700;
}
.label{
    font-size: 2rem;
    margin: 1rem 0;
}
/* Inputs */
.input{
    font-size: 2rem;
    width: 70%;
    padding: 0.5rem;
    border-radius: 7px;
    border: 0.5px solid;
    background-color: rgb(231, 249, 255);
    cursor: pointer;
}
.textarea{
    font-size: 1.5rem;
    width: 70%;
    padding: 0.7rem;
    border-radius: 7px;
    border: 0.5px solid;
    height: 15rem;
    background-color: rgb(231, 249, 255);
    cursor: pointer;
}
@media screen and (min-width:1024px){
    .label{
        font-size: 2rem;
        margin: 0 0 0.5rem;
    }
    .input{
        font-size: 2rem;
        padding: 0.2rem;
        margin: 0;
    }
    .textarea{
        height: 10rem;
    }
    .text{
        font-size: 2rem;
        margin: 2rem 5rem;
    }
}

/* Hover */

.close:hover, .input:hover{
    transform: scale(1.02);
    opacity: 1;
 }